/* EndOfAyahNumber.css */
.end-of-ayah-container {
  position: relative;
  display: inline-block;
}

.end-of-ayah-symbol {
  position: absolute;
  left: 0; /* Mengatur simbol agar rata kiri */
  top: 0;
  font-size: 48px; /* Sesuaikan ukuran simbol */
}

.end-of-ayah-number {
  margin-left: 20px; /* Menambahkan spasi sebelum nomor */
}
