/* EndOfAyahNumber.css */
.end-of-ayah-container {
  position: relative;
  display: inline-block;
}

.end-of-ayah-symbol {
  position: absolute;
  right: -30px; /* Sesuaikan posisi simbol */
  top: 0;
  font-size: 35px; /* Sesuaikan ukuran simbol */
  text-indent: 20px;
}
